---
// import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import "../css/style.css";
import Button from "../components/Button.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Astro</title>
	</head>
	<body>
		<Navigation />
		<h1>Astro</h1>
		<main>
			<Button variant="primary" size="medium" />
			<Button variant="primary" size="large" />
			<!-- <Card header="Hej med dig!">
				<img src="public/images/test_image.jpg" alt="" />
			</Card> -->
		</main>
	</body>
</html>
